[submodule "GroundingDINO"]
	path = GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "FasterTransformer"]
	path = FasterTransformer
	url = https://github.com/NVIDIA/FasterTransformer.git
